.icons {
  margin: 100px auto;
  padding: 0;
  width: 440px;
  -webkit-perspective: 1px;
  -moz-perspective: 1px;
}

.icons li {
  background: #000;
  border-radius: .6em;
  color: #fff;
  float: left;
  font-size: 3em;
  line-height: 0;
  list-style-type: none;
  margin: .2em;
  padding: .6em;

  /*-webkit-transform: translateZ(0.3px);*/
}

.icons li:nth-child(4n + 1) {
  clear: left;
}
